---
import '../styles/global.scss';
const { title } = Astro.props;
import Footer from './footer/Footer.astro';
---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="images/favicon.svg" />
		<script>
			window.addEventListener('load', function() {
				var link = document.createElement('link');
				link.rel = 'stylesheet';
				link.href = 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css';
				document.head.appendChild(link);
			});
		</script>
		

		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Kalkulator podatku akcyzowego od samochodów">
		<title>{title}</title>
	</head>
	<body>
	<slot />
	<Footer />
	</body>
</html>