---
import './Footer.scss';
---

<footer class="footer">
  <div class="footer-content">
    <a href="#" class="footer-link">Regulamin</a>
    <a href="#" class="footer-link">Polityka prywatności</a>
    <a href="#" class="footer-link">Kontakt</a>
  </div>
  <a href="https://www.socart.media" class="copy-right">© 2023 SocArt Media</a>
</footer>
